<div class="modal fade" id="form_modal" tabindex="-1" aria-labelledby="form_modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="form_modalLabel">{{@modal_title}}</h5>
<!--                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
            </div>
            <div class="modal-body">
                <!--THIS IS WHERE THE FORM VIEW / TEMPLATES CALLED WILL BE RENDERED-->
            </div>
        </div>
    </div>
</div>