<nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="/public/assets/img/logo.svg" alt="Logo" height="40">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mct_navbar"
                aria-controls="mct_navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mct_navbar">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link" href="{{'store_categories' | alias}}">Categories</a></li>
                <li class="nav-item"><a class="nav-link" href="{{'store_products' | alias}}">Products</a></li>
            </ul>
        </div>
    </div>
</nav>