<form action="/store/products/{{@action}}/{{@id}}" id="record_form" name="record_form">
    <fieldset>
        <check if="{{@action != 'delete'}}">
            <div id="form_fields">
                <div class="alert alert-danger d-none" id="input_failure">&nbsp;</div>
                <div class="form-group mb-3">
                    <label for="name">Product Name</label>
                    <input type="text" id="name" name="name" class="form-control form-control-lg mt-2" value="{{@record_details.name}}">
                </div>
                <div class="form-group mb-3">
                    <label for="quantity">Quantity</label>
                    <input type="number" id="quantity" name="quantity" class="form-control form-control-lg mt-2" value="{{@record_details.quantity}}">
                </div>
                <div class="form-group mb-3">
                    <label for="name">Category</label>
                    <select class="form-select form-select-lg mt-3" aria-label="Category Chooser" name="category_id" id="category_id">
                        <option value="">Choose Category</option>
                        <repeat group="{{@categories}}" value="{{@row}}">
                        <option value="{{@row.id}}" {{ @record_details.category_id == @row.id ? 'selected' : '' }} >{{@row.name}}</option>
                        </repeat>
                    </select>
                </div>
            </div>
        </check>
        <include href="buttons_form.html"></include>
    </fieldset>
</form>